<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>authentication</title>
</head>
<body>


   <form action="/" method="post">
     <h1>welcome to my website</h1>
     <div>
        <h5>don't have an acount</h5>
        <button type="submit"> <a href="/register">REGISTER</a> </button>
     </div>
    <button><a href="/login">LOGIN</a></button>
    
   </form> 


</body>
</html>