<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration page</title>
</head>
<body>
    <form action="/register" method="post">
        <label for="">email</label>
        <input type="text" name="username" autocomplete="off">
        <label for="">password</label>
        <input type="password" name="password">
        <button type="submit">register</button>
    </form>
</body>
</html>